
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-mask-as-number.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>

<script>
    $('.maskedWholeNumberField').maskAsNumber();
    $('.maskedDecimalField').maskAsNumber({decimals: 2});
</script>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',autoclose: true,todayBtn: true});
</script>             

<script type="text/javascript">

	$( document ).ready(function()
	{
		var action = getParam("action");

	 	if ( action == 'edit' )
			$( '#UserAssociationDivId' ).show();

		var url, args, parentId, parentUrl, addUrl, deleteUrl, modelUrl;
			parentId	= "referrerId=" + getParam("referrerId");
  		parentUrl	= "/User/saveReferenceProviders?" + parentId;
  		addUrl 		= "/html/ReferrerProfileForm.html?action=create";
  		deleteUrl 	= "/User/deleteReferenceProviders?" + parentId;
  		modelUrl 	= "/User/loadReferenceProviders?" + parentId;

		args = 'roleName=ReferenceProviders&addUrl=' + addUrl + '&deleteUrl=' + deleteUrl + '&modelUrl=' + modelUrl + '&parentUrl=' + parentUrl;
		
		url = '/html/ReferrerViewAllList.html?' + args;
		
		jQuery.get( url, function( data ) 
		{
		    $('#' + 'User_ReferenceProvidersDivId').html( data );
		});		
		
		//$('#' + 'User_ReferenceProvidersDivId').load(url);
		
	 			parentId	= "referrerId=" + getParam("referrerId");
  		parentUrl	= "/User/saveRefererGroups?" + parentId;
  		addUrl 		= "/html/ReferrerGroupProfileForm.html?action=create";
  		deleteUrl 	= "/User/deleteRefererGroups?" + parentId;
  		modelUrl 	= "/User/loadRefererGroups?" + parentId;

		args = 'roleName=RefererGroups&addUrl=' + addUrl + '&deleteUrl=' + deleteUrl + '&modelUrl=' + modelUrl + '&parentUrl=' + parentUrl;
		
		url = '/html/ReferrerGroupViewAllList.html?' + args;
		
		jQuery.get( url, function( data ) 
		{
		    $('#' + 'User_RefererGroupsDivId').html( data );
		});		
		
		//$('#' + 'User_RefererGroupsDivId').load(url);
		
	 			parentId	= "referrerId=" + getParam("referrerId");
  		parentUrl	= "/User/saveReferenceReceivers?" + parentId;
  		addUrl 		= "/html/ReferrerProfileForm.html?action=create";
  		deleteUrl 	= "/User/deleteReferenceReceivers?" + parentId;
  		modelUrl 	= "/User/loadReferenceReceivers?" + parentId;

		args = 'roleName=ReferenceReceivers&addUrl=' + addUrl + '&deleteUrl=' + deleteUrl + '&modelUrl=' + modelUrl + '&parentUrl=' + parentUrl;
		
		url = '/html/ReferrerViewAllList.html?' + args;
		
		jQuery.get( url, function( data ) 
		{
		    $('#' + 'User_ReferenceReceiversDivId').html( data );
		});		
		
		//$('#' + 'User_ReferenceReceiversDivId').load(url);
		
	 			parentId	= "referrerId=" + getParam("referrerId");
  		parentUrl	= "/User/saveReferenceGroupLinks?" + parentId;
  		addUrl 		= "/html/ReferenceGroupLinkProfileForm.html?action=create";
  		deleteUrl 	= "/User/deleteReferenceGroupLinks?" + parentId;
  		modelUrl 	= "/User/loadReferenceGroupLinks?" + parentId;

		args = 'roleName=ReferenceGroupLinks&addUrl=' + addUrl + '&deleteUrl=' + deleteUrl + '&modelUrl=' + modelUrl + '&parentUrl=' + parentUrl;
		
		url = '/html/ReferenceGroupLinkViewAllList.html?' + args;
		
		jQuery.get( url, function( data ) 
		{
		    $('#' + 'User_ReferenceGroupLinksDivId').html( data );
		});		
		
		//$('#' + 'User_ReferenceGroupLinksDivId').load(url);
		
	  
	 	var id = getParam("referrerId");

		// if edit, populate form fields		
		if ( action == 'edit' )
		{
			var id = getParam("referrerId");
			
			jQuery.ajax(
			{
		  		url: '/User/load?referrerId=' + id,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var allControls = document.querySelectorAll("input, select, textArea");

				for(var i=0; i < allControls.length; i++)
				{
					var element = allControls[i];
					var elementName = element.name;
					var val = '';
					
					var indexes = elementName.split( "." );
					if ( indexes.length == 1 )
						val = data[indexes[0]];
					else if ( indexes.length == 2 && data[indexes[0]] != null )
						val = data[indexes[0]][indexes[1]];

					if ( val !== undefined && element.type )
					{
						if ( element.type === 'checkbox' )
						{
							if ( val == true )
								element.checked = true;
							else
								element.checked = false;
						}
						else if ( element.type === 'select' )
						{
							// select the right option
						}
						element.value = val;
					}
				}
			});
		}
	});
	
	function doneSavingUser()
	{
		document.getElementById("UserFormStatusDivId").innerHTML = '<span style="color:blue">done saving</span>';
	}
	
	function resetUser()
	{
		document.getElementById("UserProfileFormId").reset();
	}
	
	function saveUser()
	{
		$('#UserFormLoadingDivId').show();

		// need to force the val to be handled by the Boolean type
		$("#UserProfileFormId input:checkbox").each(function()
		{
    		if ( $(this).is(':checked') == false ) 
    			$(this).val( 'false' );    			
    		else
    			$(this).val('true');
  		});

		var url 		= '/User/save';		
		var parentUrl 	= "${parentUrl}";
		var formData 	= formDataToJson( $('#UserProfileFormId'));
		var action 		= "${action}";

		console.log( 'parentUrl is ' + parentUrl );
					
		formData = JSON.stringify( formData );
				
		jQuery.ajax(
		{
	  		url: url,
	  		dataType: 'json',
	  		data : formData,
		}).always(function( data ) 
		{
			if ( parentUrl != 'null' && parentUrl != '' )
			{
				parentUrl = parentUrl + '&childId=' + data['referrerId'];
				jQuery.ajax(
				{
			  		url: parentUrl,
			  		dataType: 'json',
				}).always(function( data ) 
				{
				});
			}

/* 
   force a close on create rather than show the children since there are none,\
   causing an inspection on a freshly created User
   
			// need to assign the related hidden primary key element value to 
			// the new value created during the save
			document.getElementById('referrerId').value = data['referrerId'];

			if ( action == 'create' )
				$( '#UserAssociationDivId' ).show();
*/				
			doneSavingUser();
		});
		
		$('#UserFormLoadingDivId').hide();			
	
	}
		function addReferenceProviders()
	{
		addHelperForUser( 'Referrer', 'ReferenceProviders' );
	}

	function deleteReferenceProviders()
	{
		var ids;
		deleteHelperForUser( 'ReferenceProviders', 'firstName', ids );
	}
	
	function addReferenceProvidersFromList()
	{
	}
	
    		function addRefererGroups()
	{
		addHelperForUser( 'ReferrerGroup', 'RefererGroups' );
	}

	function deleteRefererGroups()
	{
		var ids;
		deleteHelperForUser( 'RefererGroups', 'name', ids );
	}
	
	function addRefererGroupsFromList()
	{
	}
	
    		function addReferenceReceivers()
	{
		addHelperForUser( 'Referrer', 'ReferenceReceivers' );
	}

	function deleteReferenceReceivers()
	{
		var ids;
		deleteHelperForUser( 'ReferenceReceivers', 'firstName', ids );
	}
	
	function addReferenceReceiversFromList()
	{
	}
	
    		function addReferenceGroupLinks()
	{
		addHelperForUser( 'ReferenceGroupLink', 'ReferenceGroupLinks' );
	}

	function deleteReferenceGroupLinks()
	{
		var ids;
		deleteHelperForUser( 'ReferenceGroupLinks', 'name', ids );
	}
	
	function addReferenceGroupLinksFromList()
	{
	}
	
        function addHelperForUser( associationClassType, roleName )
	{    
		var title = "Add New " + associationClassType + " for User " + roleName;
		var parentId = document.getElementById("referrerId").value;
		parentUrl = '/User/save' + roleName + '?referrerId=' + parentId;
		var url = '/html/' + associationClassType + 'ProfileForm.html?action=create&parentUrl=' + parentUrl + '&parentName=user&roleName=' + roleName;
		var eventToFire = 'refresh' + roleName + 'ForUser';
		inspectionDialog( title, url, eventToFire );
    }

	function deleteHelperForUser( nameOfRole, keyFieldName, ids )
	{
    	BootstrapDialog.confirm
    	({
        	title: 'WARNING',
        	message: 'Are you sure?',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) 
            {
				var elementName = nameOfRole.toLowerCase() + "." + keyFieldName;
				var element 	= document.getElementsByName(elementName)[0];
				var url 		= '/User/delete' + nameOfRole;
				
				url = url + '?childIds=' + ids;
				
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'text',
			  		data : $('#UserProfileFormId').serialize(),
				}).always(function( data ) 
				{
					document.getElementById("UserFormStatusDivId").innerHTML = '<span style="color:blue">done deleting</span>';
					element.value = ""; // clear it
				});
			}
    	});
	
	}
</script>

<div id="UserProfileFormDiv" style="padding:4px;border:2px solid lightgray">
  <form id="UserProfileFormId" class="formTableClass">
    <input type=hidden id="referrerId" name="referrerId" />  		  	
<!-- Direct Attributes -->          	
<table class="formTableClass">
	<tr class="formTRClass">
	  <td class="formTDClass">firstName</td>
	  <td class="formTDClass">	<input type='text' id="firstName" name="firstName" placeHolder="firstName" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">lastName</td>
	  <td class="formTDClass">	<input type='text' id="lastName" name="lastName" placeHolder="lastName" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">emailAddress</td>
	  <td class="formTDClass">	<input type='text' id="emailAddress" name="emailAddress" placeHolder="emailAddress" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">active</td>
	  <td class="formTDClass">	<input type='checkbox' id='active' name='active' placeHolder='active' class="form-control" />
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">password</td>
	  <td class="formTDClass">	<input type='text' id="password" name="password" placeHolder="password" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">resumeLinkUrl</td>
	  <td class="formTDClass">	<input type='text' id="resumeLinkUrl" name="resumeLinkUrl" placeHolder="resumeLinkUrl" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">linkedInUrl</td>
	  <td class="formTDClass">	<input type='text' id="linkedInUrl" name="linkedInUrl" placeHolder="linkedInUrl" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
</table>

<!-- Composites -->          	
    <table class="formTableClass">
    </table>
  	<br>
	<div>
		<a href="#" data-toggle="tooltip" data-placement="below" title="save User" onclick="saveUser()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-floppy-disk">
		      	Save
		      </span>
			</button>
		</a>
		<a href="#" data-toggle="tooltip" data-placement="below" title="reset" onclick="resetUser()">
		    <button type="button" class="btn btn-default btn-sm">
		      <span class="glyphicon glyphicon-refresh">
		      	Reset
		      </span>
			</button>
		</a>
	</div> 
  </form>
</div>

<div id="UserAssociationDivId" style="display:none">
  <div class="singleAssociationClass">
    <table class="associationTableClass">
	</table>
  </div>

  <div "class=multipleAssociationClass">  
	<table class="associationTableClass">  
		  <tr class="formRowClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        ReferenceProviders
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	                <div id="User_ReferenceProvidersDivId">
	                </div>
	      	      </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
			  <tr class="formRowClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        RefererGroups
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	                <div id="User_RefererGroupsDivId">
	                </div>
	      	      </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
			  <tr class="formRowClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        ReferenceReceivers
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	                <div id="User_ReferenceReceiversDivId">
	                </div>
	      	      </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
			  <tr class="formRowClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        ReferenceGroupLinks
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	                <div id="User_ReferenceGroupLinksDivId">
	                </div>
	      	      </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
		</table>

  </div>
</div>
<div id="UserFormLoadingDivId" style="display:none;color:black">
  saving User...<image src="../img/load_new.gif" width=48 height=48/>
</div>				  				  
<div id="UserFormStatusDivId">
</div>				  				  


